body {
  padding-top: 60px;
  background-color: black;
}

p {
  color: #bdbdbd;
  font-size: 1.1em;
}

.navbar {
  background-color: black;
  padding-top: 5px;
  border: none;
}

audio {
  background-color: white;
  border-radius: 5px;
}

.station {
  position: relative;
  top: 65px;
}

h3, h2 {
  color: #E7D3B1;
  font-weight: 100;
  letter-spacing: 4px;
}

.tails-image {
  padding-top: 6px;
}

/**********************************
CONTACT PAGE
***********************************/

label {
  font-weight: 100;
}

input, textarea {
    padding: 10px;
    border: 1px solid #E5E5E5;
    width: 200px;
}

form {
  padding-top: 10px;
}

textarea {
  background-color: white;
  width: 400px;
  height: 250px;
  max-width: 400px;
  color: black;
}

input {
  color: black;
}

.form1 {
  width: 400px;
}

.button1 {
  font-weight: bold;
}

/* p.message is for the error message styles */
p.message {
    background: #E7D3B1;
    border: 1px solid #f16702;
    padding: 1em;
    width: 400px;
    color: red;
    padding-right: 60px;
    text-align: center;
    font-weight: bold;
}

span a {
  font-size: 21px;
  letter-spacing: 15px;
  padding-left: 10px;
}

i, .thanks {
  color: #bdbdbd;
}

.copyright {
  display: inline;
  padding-right: 10px;
  font-size: 1em;
}

.text-bottom {
  text-align: center;
}

.bottom-spacer {
  height: 160px;
}


/**********************************
GOOGLE FONTS
***********************************/

h1, h3, h2, p, a {
  font-family: 'Lato', sans-serif;
}


/**********************************
MEDIA QUERIES
***********************************/

@media screen and (max-width: 431px) {
    textarea, input, .form1, p.message {
      width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .videobox, .audiobox {
      display: table;
      margin: 0 auto;
    }
    .audiobox h2, .videobox h2 {
      text-align: center;
    }
}

@media screen and (max-width: 991px) {
    .station {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
}

@media screen and (max-width: 526px) {
    i {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .icons {
      display: block;
      text-align: center;
    }
    span a {
      font-size: 26px;
    }
}
